<div class="container">
  <h1>{{ title }}</h1>

  <div class="items-container">
    @for (item of displayedItems; track item.id) {
      <div class="item-card">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    }
  </div>

  <ng-pagination 
    [totalItems]="totalItems" 
    [itemsPerPage]="itemsPerPage" 
    [currentPage]="currentPage" 
    [itemsPerPageOptions]="[5, 10, 20, 50]"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </ng-pagination>
</div>